$default-font-size = 16px;

$spaces = {
  base: to-em(2px, $rem: true),
  x-small: to-em(18px, $rem: true),
  small: to-em(20px, $rem: true),
  medium: to-em(28px, $rem: true),
  large: to-em(40px, $rem: true),
  x-large: to-em(50px, $rem: true),
}

$color-palet = {
  peach-yellow: #FADBAF,
  tulip-tree: #F0AA48,
  carnation: #F74D69,
  fuscous-gray: #595650,
  domino: #8F7B60,
}

$bg-color = $color-palet.fuscous-gray;
