*, input[type="search"]
  box-sizing: border-box;

html
  position: relative;
  height: 100%;

body
  height: 100%;
  background-color: $bg-color;
  color: $type-colors;

ul
  padding: 0;
  list-style: none;
