extends _layouts/base

block content
  header.header
    div.container
      div.search
        div.search__input-container
          input.search__input(type="search" placeholder="Procure por um gif")
        button.search__submit Buscar
  section.container#template-render
